In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder

In [3]:
o_data  = pd.read_csv('data/data.csv', header=0)
test_data = o_data[o_data['shot_made_flag'].isnull()]

test_data.info()
train_data = o_data[~o_data['shot_made_flag'].isnull()]
train_data.info()
full_data = [train_data, test_data]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 30693
Data columns (total 25 columns):
action_type           5000 non-null object
combined_shot_type    5000 non-null object
game_event_id         5000 non-null int64
game_id               5000 non-null int64
lat                   5000 non-null float64
loc_x                 5000 non-null int64
loc_y                 5000 non-null int64
lon                   5000 non-null float64
minutes_remaining     5000 non-null int64
period                5000 non-null int64
playoffs              5000 non-null int64
season                5000 non-null object
seconds_remaining     5000 non-null int64
shot_distance         5000 non-null int64
shot_made_flag        0 non-null float64
shot_type             5000 non-null object
shot_zone_area        5000 non-null object
shot_zone_basic       5000 non-null object
shot_zone_range       5000 non-null object
team_id               5000 non-null int64
team_name             5000 non-null object
game_date             5000 non-null object
matchup               5000 non-null object
opponent              5000 non-null object
shot_id               5000 non-null int64
dtypes: float64(3), int64(11), object(11)
memory usage: 1015.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25697 entries, 1 to 30696
Data columns (total 25 columns):
action_type           25697 non-null object
combined_shot_type    25697 non-null object
game_event_id         25697 non-null int64
game_id               25697 non-null int64
lat                   25697 non-null float64
loc_x                 25697 non-null int64
loc_y                 25697 non-null int64
lon                   25697 non-null float64
minutes_remaining     25697 non-null int64
period                25697 non-null int64
playoffs              25697 non-null int64
season                25697 non-null object
seconds_remaining     25697 non-null int64
shot_distance         25697 non-null int64
shot_made_flag        25697 non-null float64
shot_type             25697 non-null object
shot_zone_area        25697 non-null object
shot_zone_basic       25697 non-null object
shot_zone_range       25697 non-null object
team_id               25697 non-null int64
team_name             25697 non-null object
game_date             25697 non-null object
matchup               25697 non-null object
opponent              25697 non-null object
shot_id               25697 non-null int64
dtypes: float64(3), int64(11), object(11)
memory usage: 5.1+ MB

In [4]:
shot_ids = full_data[1]['shot_id']
shot_ids.head()

0      1
7      8
16    17
19    20
32    33
Name: shot_id, dtype: int64

## Feature Engineering

### 投篮类型

In [5]:
train_data[['shot_type', 'shot_made_flag']].groupby('shot_type', as_index=False).mean()

        shot_type  shot_made_flag
0  2PT Field Goal        0.477348
1  3PT Field Goal        0.329268

### 投篮距离, 影响较大的因素

In [6]:
train_data[['shot_distance', 'shot_made_flag']].groupby('shot_distance', as_index=False).mean()

    shot_distance  shot_made_flag
0               0        0.634766
1               1        0.660920
2               2        0.532091
3               3        0.435737
4               4        0.473186
5               5        0.434685
6               6        0.427289
7               7        0.421227
8               8        0.477113
9               9        0.431818
10             10        0.416667
11             11        0.461794
12             12        0.450311
13             13        0.414758
14             14        0.423937
15             15        0.426955
16             16        0.390558
17             17        0.389388
18             18        0.400837
19             19        0.416446
20             20        0.397784
21             21        0.423249
22             22        0.369527
23             23        0.381339
24             24        0.364212
25             25        0.357449
26             26        0.314151
27             27        0.297778
28             28        0.228916
29             29        0.194030
..            ...             ...
44             44        0.000000
45             45        0.000000
46             46        0.000000
47             47        0.000000
48             48        0.000000
49             49        0.000000
50             50        0.000000
51             51        0.000000
52             52        0.000000
53             53        0.000000
54             54        0.000000
55             55        0.000000
56             56        0.000000
57             57        0.000000
58             58        0.000000
59             59        0.000000
60             60        0.000000
61             61        0.000000
62             62        0.000000
63             63        0.000000
64             64        0.000000
65             65        0.000000
66             67        0.000000
67             68        0.000000
68             69        0.000000
69             70        0.000000
70             71        0.000000
71             74        0.000000
72             77        0.000000
73             79        0.000000

[74 rows x 2 columns]

### 投篮类型.粒度太细,某些类型的投篮次数只有个位数

In [7]:
# action_type_group = train_data[['action_type', 'shot_made_flag']].groupby('action_type', as_index=False)
# action_type_group.describe()

In [8]:
g = train_data[['combined_shot_type', 'shot_made_flag']].groupby('combined_shot_type', as_index=False)
print(g.mean())
g.count()

  combined_shot_type  shot_made_flag
0          Bank Shot        0.791667
1               Dunk        0.928030
2          Hook Shot        0.535433
3          Jump Shot        0.391071
4              Layup        0.565093
5           Tip Shot        0.348684

  combined_shot_type  shot_made_flag
0          Bank Shot             120
1               Dunk            1056
2          Hook Shot             127
3          Jump Shot           19710
4              Layup            4532
5           Tip Shot             152

In [9]:
train_data[['shot_zone_area', 'shot_made_flag']].groupby('shot_zone_area', as_index=False).mean()

          shot_zone_area  shot_made_flag
0         Back Court(BC)        0.013889
1              Center(C)        0.525556
2   Left Side Center(LC)        0.361177
3           Left Side(L)        0.396871
4  Right Side Center(RC)        0.382567
5          Right Side(R)        0.401658

In [10]:
train_data[['shot_zone_basic', 'shot_made_flag']].groupby('shot_zone_basic', as_index=False).mean()

         shot_zone_basic  shot_made_flag
0      Above the Break 3        0.329237
1              Backcourt        0.016667
2  In The Paint (Non-RA)        0.454381
3          Left Corner 3        0.370833
4              Mid-Range        0.406286
5        Restricted Area        0.618004
6         Right Corner 3        0.339339

In [11]:
train_data[['opponent', 'shot_made_flag']].groupby('opponent', as_index=False).mean()

   opponent  shot_made_flag
0       ATL        0.452055
1       BKN        0.400000
2       BOS        0.411239
3       CHA        0.436000
4       CHI        0.430233
5       CLE        0.439689
6       DAL        0.454017
7       DEN        0.457840
8       DET        0.441227
9       GSW        0.464567
10      HOU        0.434596
11      IND        0.400958
12      LAC        0.460894
13      MEM        0.450057
14      MIA        0.429400
15      MIL        0.410256
16      MIN        0.444627
17      NJN        0.436019
18      NOH        0.450526
19      NOP        0.407666
20      NYK        0.477032
21      OKC        0.418895
22      ORL        0.435430
23      PHI        0.449420
24      PHX        0.464495
25      POR        0.465170
26      SAC        0.465283
27      SAS        0.436508
28      SEA        0.452450
29      TOR        0.464029
30      UTA        0.444265
31      VAN        0.470588
32      WAS        0.427146

除了后面几个赛季,其他赛季命中率相差都不大

In [12]:
train_data[['season', 'shot_made_flag']].groupby('season', as_index=False).mean()

     season  shot_made_flag
0   1996-97        0.422977
1   1997-98        0.430864
2   1998-99        0.458824
3   1999-00        0.460366
4   2000-01        0.466667
5   2001-02        0.458431
6   2002-03        0.436285
7   2003-04        0.433260
8   2004-05        0.436557
9   2005-06        0.453742
10  2006-07        0.457885
11  2007-08        0.468389
12  2008-09        0.467855
13  2009-10        0.453725
14  2010-11        0.446417
15  2011-12        0.425847
16  2012-13        0.457831
17  2013-14        0.406780
18  2014-15        0.376054
19  2015-16        0.356223

In [13]:
def get_host_or_guest(s):
    return 1 if '@' in s else 0
for dataset in full_data:
    dataset['is_guest'] = dataset['matchup'].apply(get_host_or_guest)
    dataset['shot_type'] = dataset['shot_type'].map({'2PT Field Goal':0, '3PT Field Goal': 1})
#     ohe = OneHotEncoder(categorical_features=[2, 3, 5, 6, 7])
#     dataset = ohe.fit_transform(dataset).toarray()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

### 主客场

In [14]:
train_data[['is_guest', 'shot_made_flag']].groupby('is_guest', as_index=False).mean()

   is_guest  shot_made_flag
0         0        0.456468
1         1        0.436421

In [44]:
    
selected_f = ['shot_type', 'shot_distance','season', 'opponent', 'is_guest','shot_zone_area', 'shot_zone_basic', 'combined_shot_type']
y = train_data['shot_made_flag']
train_data = train_data[selected_f]
test_data = test_data[selected_f]

In [175]:
class myNb:
    def __init__(self):
        self.cProb = {}
        self.cCondProb = {}
    def fit(self, X_train, y_train):
        import numpy as np

        # 生还与否的概率
        t = len(y_train)
        # 生还和死者总数
        cNumber = {}
        cValues = np.unique(y_train)
        #类概率
        for cv in cValues:
            cNumber[cv] = (y_train == cv).sum()
            self.cProb[cv] = cNumber[cv] / t
        #求类条件概率
        for col in X_train:
            if col not in self.cCondProb:
                self.cCondProb[col] = {}
            for cv in self.cProb:
                if cv not in self.cCondProb[col]:
                    self.cCondProb[col][cv] = {}
                for fv in np.unique(X_train[col]):
                    self.cCondProb[col][cv][fv] = ((X_train[col] == fv) & (y_train == cv)).sum() / cNumber[cv]
                    if self.cCondProb[col][cv][fv] == 0:
                        self.cCondProb[col][cv][fv] = 1e-10

    def predict_proba(self, X_test):
        y_pred = []
        P = [0] * len(self.cProb)
        Plog = [0] * len(self.cProb)
        for cv in range(0, len(self.cProb)):
            Plog[cv] = np.log(self.cProb[cv])
        for i in X_test.index:
            for cv in range(0, len(self.cProb)):
                P[cv] = Plog[cv]
                for col in X_test:
#                     print(i, col)
                    if self.cCondProb[col][cv][X_test.loc[i][col]] == 0:
                        print(i, col)
                    P[cv] += np.log(self.cCondProb[col][cv][X_test.loc[i][col]])
            P = np.exp(P)
            P = P / sum(P)
#             print(i,P)
#             y_pred.append(max(P, key=P.get))
#             np.append(y_pred, [P])
            y_pred.append(P.tolist())
        return np.array(y_pred)

    # def predict_proba(self, X_test):

In [73]:
train_data.index
# test_data.index

Int64Index([    1,     2,     3,     4,     5,     6,     8,     9,    10,
               11,
            ...
            30685, 30687, 30688, 30689, 30690, 30691, 30692, 30694, 30695,
            30696],
           dtype='int64', length=25697)

In [176]:
nb = myNb()
nb.fit(train_data, y)

In [156]:
print(nb.cProb, nb.cCondProb)

{0.0: 0.55383896952951706, 1.0: 0.44616103047048294} {'season': {0.0: {'2005-06': 0.073847667228780209, '1996-97': 0.015528386734120292, '1999-00': 0.049747048903878585, '2001-02': 0.064994378864530633, '2014-15': 0.025997751545812253, '2009-10': 0.068015739179314222, '2007-08': 0.067945474985947163, '2013-14': 0.0024592467678471049, '2004-05': 0.044617762788083194, '2010-11': 0.059162450815064646, '2003-04': 0.054595278246205733, '2012-13': 0.050590219224283306, '2008-09': 0.069210230466554237, '2011-12': 0.057124789207419896, '2015-16': 0.042158516020236091, '2000-01': 0.059021922428330521, '1997-98': 0.032391793142214728, '2002-03': 0.073355817875210796, '2006-07': 0.060146149522203485, '1998-99': 0.0290893760539629}, 1.0: {'2005-06': 0.076144788486698645, '1996-97': 0.014129960750109027, '1999-00': 0.052682075883122549, '2001-02': 0.068294810292193628, '2014-15': 0.01945050152638465, '2009-10': 0.070126471870911464, '2007-08': 0.074313126907980809, '2013-14': 0.0020933275185346708, '2004-05': 0.042913214129960749, '2010-11': 0.05922372437854339, '2003-04': 0.051809856083733098, '2012-13': 0.053030963802878327, '2008-09': 0.075534234627126037, '2011-12': 0.052594853903183601, '2015-16': 0.028957697339729613, '2000-01': 0.064108155255124297, '1997-98': 0.030440470998691672, '2002-03': 0.070475359790667241, '2006-07': 0.06306149149585695, '1998-99': 0.030614914958569561}}, 'shot_zone_area': {0.0: {'Left Side Center(LC)': 0.15099775154581224, 'Center(C)': 0.37633501967397415, 'Right Side Center(RC)': 0.17270938729623384, 'Left Side(L)': 0.13272906127037662, 'Back Court(BC)': 0.0049887577290612705, 'Right Side(R)': 0.16224002248454189}, 1.0: {'Left Side Center(LC)': 0.10597470562581771, 'Center(C)': 0.51748800697775843, 'Right Side Center(RC)': 0.13283907544701265, 'Left Side(L)': 0.10841692106410815, 'Back Court(BC)': 8.7221979938944616e-05, 'Right Side(R)': 0.13519406890536415}}, 'is_guest': {0.0: {0: 0.47681281618887017, 1: 0.52318718381112983}, 1.0: {0: 0.49707806367204538, 1: 0.50292193632795468}}, 'combined_shot_type': {0.0: {'Hook Shot': 0.0041455874086565488, 'Bank Shot': 0.0017566048341765036, 'Layup': 0.13849072512647556, 'Tip Shot': 0.0069561551433389547, 'Jump Shot': 0.8433108487914559, 'Dunk': 0.0053400786958965711}, 1.0: {'Hook Shot': 0.0059310946358482339, 'Bank Shot': 0.0082860880941997388, 'Layup': 0.22337549062363715, 'Tip Shot': 0.0046227649367640644, 'Jump Shot': 0.67230702136938514, 'Dunk': 0.08547754034016572}}, 'shot_distance': {0.0: {0: 0.11825463743676222, 1: 0.012436762225969646, 2: 0.015879707700955592, 3: 0.012647554806070826, 4: 0.011734120292299045, 5: 0.017636312535132096, 6: 0.022414277684092185, 7: 0.024522203485103991, 8: 0.020868465430016865, 9: 0.021079258010118045, 10: 0.024100618324901631, 11: 0.022765598650927487, 12: 0.024873524451939293, 13: 0.032321528948847669, 14: 0.036186059584035972, 15: 0.039137155705452502, 16: 0.049887577290612703, 17: 0.05255761663856099, 18: 0.050309162450815063, 19: 0.046374367622259695, 20: 0.042017987633501966, 21: 0.027192242833052275, 22: 0.025295109612141653, 23: 0.021430578976953343, 24: 0.0564221472737493, 25: 0.073636874648679032, 26: 0.051082068577852725, 27: 0.022203485103991005, 28: 0.0089938167509836988, 29: 0.0037942664418212477, 30: 0.0007729061270376616, 31: 0.0016160764474423834, 32: 0.00049184935356942107, 33: 0.00028105677346824059, 34: 0.00042158516020236085, 35: 0.00028105677346824059, 36: 0.00042158516020236085, 37: 0.00063237774030354128, 38: 0.00042158516020236085, 39: 0.00049184935356942107, 40: 0.00063237774030354128, 41: 0.00035132096683530075, 42: 0.00042158516020236085, 43: 0.00028105677346824059, 44: 0.00028105677346824059, 45: 0.00014052838673412029, 46: 0.00014052838673412029, 47: 0.00021079258010118043, 48: 0.00021079258010118043, 49: 0.00014052838673412029, 50: 0.00021079258010118043, 51: 0.00014052838673412029, 52: 0.00014052838673412029, 53: 7.0264193367060147e-05, 54: 7.0264193367060147e-05, 55: 0.00021079258010118043, 56: 0.00021079258010118043, 57: 7.0264193367060147e-05, 58: 0.00028105677346824059, 59: 0.00014052838673412029, 60: 0.00014052838673412029, 61: 7.0264193367060147e-05, 62: 0.00028105677346824059, 63: 0.00014052838673412029, 64: 0.00014052838673412029, 65: 7.0264193367060147e-05, 67: 0.00014052838673412029, 68: 0.00014052838673412029, 69: 7.0264193367060147e-05, 70: 0.00014052838673412029, 71: 7.0264193367060147e-05, 74: 0.00021079258010118043, 77: 7.0264193367060147e-05, 79: 7.0264193367060147e-05}, 1.0: {0: 0.25512429132141301, 1: 0.030091583078935891, 2: 0.022416048844308766, 3: 0.012123855211513301, 4: 0.013083296990841693, 5: 0.016833842128216311, 6: 0.020758831225468819, 7: 0.022154382904491933, 8: 0.023637156563453991, 9: 0.019886611426079372, 10: 0.02136938508504143, 11: 0.024247710423026602, 12: 0.025294374182293938, 13: 0.028434365460095944, 14: 0.033057130396860007, 15: 0.036197121674662013, 16: 0.039686000872219802, 17: 0.041604884430876579, 18: 0.041779328390754468, 19: 0.041081552551242913, 20: 0.034452682075883125, 21: 0.024771042302660272, 22: 0.018403837767117313, 23: 0.016397732228521589, 24: 0.040122110771914521, 25: 0.050850414304404713, 26: 0.029044919319668558, 27: 0.011687745311818579, 28: 0.0033144352376798954, 29: 0.00113388573920628, 30: 0.00043610989969472308, 31: 8.7221979938944616e-05, 32: 8.7221979938944616e-05, 33: 1e-10, 34: 8.7221979938944616e-05, 35: 1e-10, 36: 1e-10, 37: 8.7221979938944616e-05, 38: 8.7221979938944616e-05, 39: 1e-10, 40: 1e-10, 41: 1e-10, 42: 1e-10, 43: 8.7221979938944616e-05, 44: 1e-10, 45: 1e-10, 46: 1e-10, 47: 1e-10, 48: 1e-10, 49: 1e-10, 50: 1e-10, 51: 1e-10, 52: 1e-10, 53: 1e-10, 54: 1e-10, 55: 1e-10, 56: 1e-10, 57: 1e-10, 58: 1e-10, 59: 1e-10, 60: 1e-10, 61: 1e-10, 62: 1e-10, 63: 1e-10, 64: 1e-10, 65: 1e-10, 67: 1e-10, 68: 1e-10, 69: 1e-10, 70: 1e-10, 71: 1e-10, 74: 1e-10, 77: 1e-10, 79: 1e-10}}, 'opponent': {0.0: {'OKC': 0.022906127037661608, 'CLE': 0.020236087689713321, 'BKN': 0.0018971332209106238, 'TOR': 0.020938729623383924, 'MIN': 0.047568858909499717, 'SEA': 0.026700393479482856, 'UTA': 0.048341765036537379, 'DAL': 0.039629005059021921, 'ORL': 0.023960089938167509, 'BOS': 0.032391793142214728, 'NOP': 0.011944912872400225, 'PHI': 0.023327712197863969, 'NYK': 0.020798201236649803, 'HOU': 0.055578976953344579, 'IND': 0.026349072512647554, 'NOH': 0.018338954468802699, 'LAC': 0.040682967959527826, 'CHI': 0.020657672849915681, 'MEM': 0.033656548622821809, 'CHA': 0.019814502529510961, 'PHX': 0.05775716694772344, 'DET': 0.02304665542439573, 'MIL': 0.021008993816750983, 'VAN': 0.0075885328836424954, 'SAC': 0.052487352445193931, 'DEN': 0.051503653738055086, 'MIA': 0.020727937043282744, 'ATL': 0.016863406408094434, 'WAS': 0.020165823496346262, 'POR': 0.048552557616638563, 'SAS': 0.064853850477796515, 'NJN': 0.016722878021360316, 'GSW': 0.043001686340640811}, 1.0: {'OKC': 0.020497165285651986, 'CLE': 0.019712167466201483, 'BKN': 0.0015699956389010031, 'TOR': 0.022503270824247711, 'MIN': 0.047274313126907982, 'SEA': 0.027387701700828607, 'UTA': 0.047972088966419538, 'DAL': 0.040907108591365024, 'ORL': 0.022939380723942433, 'BOS': 0.028085477540340166, 'NOP': 0.010204971652856519, 'PHI': 0.023637156563453991, 'NYK': 0.023549934583515047, 'HOU': 0.053030963802878327, 'IND': 0.0218927169646751, 'NOH': 0.018665503706934147, 'LAC': 0.043174880069777585, 'CHI': 0.019363279546445705, 'MEM': 0.034191016136066288, 'CHA': 0.019014391626689924, 'PHX': 0.062189271696467513, 'DET': 0.022590492804186655, 'MIL': 0.01814217182730048, 'VAN': 0.0083733100741386832, 'SAC': 0.056694286960313998, 'DEN': 0.053990405582206719, 'MIA': 0.019363279546445705, 'ATL': 0.017269952027911033, 'WAS': 0.018665503706934147, 'POR': 0.052420409943305712, 'SAS': 0.062363715656345402, 'NJN': 0.016048844308765808, 'GSW': 0.046314871347579591}}, 'shot_zone_basic': {0.0: {'Backcourt': 0.0041455874086565488, 'Restricted Area': 0.1592186621697583, 'Left Corner 3': 0.010609893198426082, 'Right Corner 3': 0.015458122540753232, 'Above the Break 3': 0.22245643620011243, 'In The Paint (Non-RA)': 0.14874929735806633, 'Mid-Range': 0.43936200112422708}, 1.0: {'Backcourt': 8.7221979938944616e-05, 'Restricted Area': 0.31975577845617098, 'Left Corner 3': 0.0077627562145660706, 'Right Corner 3': 0.0098560837331007414, 'Above the Break 3': 0.13554295682511994, 'In The Paint (Non-RA)': 0.15377235063235936, 'Mid-Range': 0.37322285215874401}}, 'shot_type': {0.0: {0: 0.74494097807757165, 1: 0.25505902192242835}, 1.0: {0: 0.84457043174880064, 1: 0.1554295682511993}}}

In [207]:
start = 10000
offset = 1000
y_pred = nb.predict_proba(train_data.iloc[start:start+offset])
# print(y_pred)
print('log loss: %.2f' % log_loss(y[start:start+offset].values, y_pred))
y_pred_class = (y_pred.T[0]<y_pred.T[1]) * 1
print('Accuracy: %.2f' % accuracy_score(y[start:start+offset].values, y_pred_class))

log loss: 0.76
Accuracy: 0.63

In [220]:
print(y_pred[0:10])
y_pred_alter = y_pred - (y_pred-0.5) * 0.5
print(y_pred_alter[0:10])
print('log loss: %.2f' % log_loss(y[start:start+offset].values, y_pred_alter))

[[ 0.71323094  0.28676906]
 [ 0.01151631  0.98848369]
 [ 0.01151631  0.98848369]
 [ 0.7122238   0.2877762 ]
 [ 0.7197713   0.2802287 ]
 [ 0.68306044  0.31693956]
 [ 0.88610881  0.11389119]
 [ 0.71323094  0.28676906]
 [ 0.70073459  0.29926541]
 [ 0.59996924  0.40003076]]
[[ 0.60661547  0.39338453]
 [ 0.25575815  0.74424185]
 [ 0.25575815  0.74424185]
 [ 0.6061119   0.3938881 ]
 [ 0.60988565  0.39011435]
 [ 0.59153022  0.40846978]
 [ 0.6930544   0.3069456 ]
 [ 0.60661547  0.39338453]
 [ 0.60036729  0.39963271]
 [ 0.54998462  0.45001538]]
log loss: 0.66

In [193]:
# print(y_pred[0:10])
# print(1-y_pred[0:10])
(y_pred.T[0]<y_pred.T[1]) * 1
# y[start:start+offset].values[0:10]

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0])

In [15]:
# class_le = LabelEncoder()
    
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)


X=train_data.values
y=y.values

In [16]:
print(train_data.columns)

Index(['shot_type', 'shot_distance', 'is_guest', 'season_1996-97',
       'season_1997-98', 'season_1998-99', 'season_1999-00', 'season_2000-01',
       'season_2001-02', 'season_2002-03', 'season_2003-04', 'season_2004-05',
       'season_2005-06', 'season_2006-07', 'season_2007-08', 'season_2008-09',
       'season_2009-10', 'season_2010-11', 'season_2011-12', 'season_2012-13',
       'season_2013-14', 'season_2014-15', 'season_2015-16', 'opponent_ATL',
       'opponent_BKN', 'opponent_BOS', 'opponent_CHA', 'opponent_CHI',
       'opponent_CLE', 'opponent_DAL', 'opponent_DEN', 'opponent_DET',
       'opponent_GSW', 'opponent_HOU', 'opponent_IND', 'opponent_LAC',
       'opponent_MEM', 'opponent_MIA', 'opponent_MIL', 'opponent_MIN',
       'opponent_NJN', 'opponent_NOH', 'opponent_NOP', 'opponent_NYK',
       'opponent_OKC', 'opponent_ORL', 'opponent_PHI', 'opponent_PHX',
       'opponent_POR', 'opponent_SAC', 'opponent_SAS', 'opponent_SEA',
       'opponent_TOR', 'opponent_UTA', 'opponent_VAN', 'opponent_WAS',
       'shot_zone_area_Back Court(BC)', 'shot_zone_area_Center(C)',
       'shot_zone_area_Left Side Center(LC)', 'shot_zone_area_Left Side(L)',
       'shot_zone_area_Right Side Center(RC)', 'shot_zone_area_Right Side(R)',
       'shot_zone_basic_Above the Break 3', 'shot_zone_basic_Backcourt',
       'shot_zone_basic_In The Paint (Non-RA)',
       'shot_zone_basic_Left Corner 3', 'shot_zone_basic_Mid-Range',
       'shot_zone_basic_Restricted Area', 'shot_zone_basic_Right Corner 3',
       'combined_shot_type_Bank Shot', 'combined_shot_type_Dunk',
       'combined_shot_type_Hook Shot', 'combined_shot_type_Jump Shot',
       'combined_shot_type_Layup', 'combined_shot_type_Tip Shot'],
      dtype='object')

In [49]:
# rf = RandomForestClassifier()

import matplotlib.pyplot as plt
import seaborn as sns
classifiers = [
#     KNeighborsClassifier(3),
#     SVC(probability=True),
#     DecisionTreeClassifier(),
#     RandomForestClassifier(),
    AdaBoostClassifier(),
#     GradientBoostingClassifier(),
#     GaussianNB(),
    MultinomialNB(),
    LinearDiscriminantAnalysis(),
#     QuadraticDiscriminantAnalysis(),
    LogisticRegression()
]
# classifiers = [rf]
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.1, random_state=0)
acc_dict = {}
log_cols = ["Classifier", "Accuracy"]
log 	 = pd.DataFrame(columns=log_cols)


for train_index, test_index in sss.split(X, y):
	X_train, X_test = X[train_index], X[test_index]
	y_train, y_test = y[train_index], y[test_index]
	
	for clf in classifiers:
		name = clf.__class__.__name__
		clf.fit(X_train, y_train)
# 		train_predictions = clf.predict(X_test)
# 		acc = accuracy_score(y_test, train_predictions)
		train_predictions_proba = clf.predict_proba(X_test)
		acc = log_loss(y_test, train_predictions_proba)
		if name in acc_dict:
			acc_dict[name] += acc
		else:
			acc_dict[name] = acc
for clf in acc_dict:
	acc_dict[clf] = acc_dict[clf] / 10.0
	log_entry = pd.DataFrame([[clf, acc_dict[clf]]], columns=log_cols)
	log = log.append(log_entry)
    
plt.xlabel('Accuracy')
plt.title('Classifier Accuracy')

sns.set_color_codes("muted")
sns.barplot(x='Accuracy', y='Classifier', data=log, color="b")

/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
/usr/local/lib/python3.5/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [50]:
log

                   Classifier  Accuracy
0          LogisticRegression  0.650920
0               MultinomialNB  0.813672
0          AdaBoostClassifier  0.690522
0  LinearDiscriminantAnalysis  0.651967

In [27]:
log

                   Classifier  Accuracy
0          LogisticRegression  0.613385
0      DecisionTreeClassifier  0.541712
0          AdaBoostClassifier  0.614864
0  LinearDiscriminantAnalysis  0.614086
0      RandomForestClassifier  0.555525

In [42]:
import time
candidate_classifier = LogisticRegression()
candidate_classifier.fit(X, y)
result = candidate_classifier.predict_proba(test_data.values)

submission = pd.DataFrame({'shot_id': shot_ids, 'shot_made_flag':result.T[1]})
submission.to_csv('LR_' + str(time.time()) +'.csv', index=False)

In [43]:
submission.to_csv('LR_' + str(time.time()) +'.csv', index=False)